 <div class="sidebar-wrapper">
                <div class="logo">
                    <a routerLink="/" class="simple-text">
                        <img src="https://cdn.flixbus.de/assets/images-20180806/flixbus_logo.svg" alt="logo" >
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Main</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/slot">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Add New Slot</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/station">
                            <i class="nc-icon nc-notes"></i>
                            <p>Add New Station</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/bus">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Add New Bus</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/liststations">
                            <i class="nc-icon nc-atom"></i>
                            <p>All Stations</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/listbus">
                            <i class="nc-icon nc-pin-3"></i>
                            <p>All Buses</p>
                        </a>
                    </li>
                   
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" routerLink="/help">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>Help</p>
                        </a>
                    </li>
                </ul>
            </div>