<div class="row cards">
  <div class="col-xs-4 card">
    <section class="bubble" style="background-color: #86c0e3;">
      <header>
        <ul>
          <li>
            <i class="entypo-vcard"></i> Slots
          </li>
          <li class="big-num">
            <h4>365</h4>
          </li>
        </ul>
      </header>
      <article>
        <ul class="sections">

          <li class="list">
            <ul>
              <li><i class="fa fa-fw fa-clock-o"></i> In last 14 days</li>
              <li><i class="fa fa-fw fa-calendar-o"></i> From 2017 to 2018</li>
            </ul>
          </li>
          <li class="text-right">
            <span class="inlinebar">Many Slots occupied by buses</span>
          </li>
        </ul>

      </article>
      <footer>
        <ul class="sections">
          <li>
            <i class="fa fa-fw fa-clock-o"></i> 12 Days Ago
          </li>
          <li class="big-num">
            <i class="fa fa-arrow-circle-up up fa-inverse"></i>
            39% 
          </li>
        </ul>
      </footer>
    </section>
  </div>
  <div class="col-xs-4 card">
    <section class="bubble" style="background-color: #7ab885;">
      <header>
        <ul>
          <li>
            <i class="entypo-chat"></i> Stations
          </li>
          <li class="big-num">
            <h4>1532</h4>
          </li>
        </ul>
      </header>
      <article>
        <ul class="sections">

          <li class="list">
            <ul>
              <li><i class="fa fa-fw fa-clock-o"></i> In last 14 days</li>
              <li><i class="fa fa-fw fa-calendar-o"></i> From 2017 to 2018</li>
            </ul>
          </li>
          <li class="text-right">
            <span class="inlinebar">We increase our land add stations</span>
          </li>
        </ul>

      </article>
      <footer>
        <ul class="sections">
          <li>
            <i class="fa fa-fw fa-clock-o"></i> 12 Days Ago
          </li>
          <li class="big-num">
            <i class="fa fa-arrow-circle-down down fa-inverse"></i>
            12% 
          </li>
        </ul>
      </footer>
    </section>
  </div>
  <div class="col-xs-4 card">
    <section class="bubble" style="background-color: #e2a267;">
      <header>
        <ul>
          <li>
            <i class="entypo-paper-plane"></i> Buses
          </li>
          <li class="big-num">
            <h4>365</h4>
          </li>
        </ul>
      </header>
      <article>
        <ul class="sections">

          <li class="list">
            <ul>
              <li><i class="fa fa-fw fa-clock-o"></i> In last 14 days</li>
              <li><i class="fa fa-fw fa-calendar-o"></i> From 2017 to 2018</li>
            </ul>
          </li>
          <li class="text-right">
            <span class="inlinebar">We add new awesome buses</span>
          </li>
        </ul>

      </article>
      <footer>
        <ul class="sections">
          <li>
            <i class="fa fa-fw fa-clock-o"></i> 12 Days Ago
          </li>
          <li class="big-num">
            <i class="fa fa-arrow-circle-up up fa-inverse"></i>
            39% 
          </li>
        </ul>
      </footer>
    </section>
  </div>
</div>



<!-- Services section -->
<div class="container main__services">
  <div class="row">
          <div class="col-lg-3 col-xs-6">
            <div class="rad-info-box rad-txt-success">
              <i class="fas fa-truck-monster"></i>
              <span class="heading">Smart Choice</span>
              <span class="value"><span>100%</span></span>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="rad-info-box rad-txt-primary">
              <i class="fas fa-hand-holding-usd"></i>
              <span class="heading">Save Time</span>
              <span class="value"><span>95%</span></span>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="rad-info-box rad-txt-danger">
              <i class="fas fa-atlas"></i>
              <span class="heading">Commitment</span>
              <span class="value"><span>98%</span></span>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="rad-info-box">
              <i class="fas fa-assistive-listening-systems"></i>
              <span class="heading">Save Money</span>
              <span class="value"><span>98%</span></span>
            </div>
          </div>
        </div>
</div>

<img class="img-responsive" src="../../src/assets/flixbus-us.png" alt="">
