<div id="content bus__content" style="">
    <mat-card>
      <h1>Add/Edit new Bus</h1>
        <form class="form" (ngSubmit)="onSubmit(c)" #c="ngForm" >
          <input type="hidden" #id [(ngModel)] = "paramvalues.id" name="id" >
          <!-- <input type="hidden" #stationname ngModel [value]= "stations$.stationName" name="stationname" > -->

          <mat-form-field>
            <mat-select id="busType" name="busType" [(ngModel)] = "paramvalues.bustype" placeholder="Bus Type">
              <mat-option *ngFor="let type of BusesType"  [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>
          <mat-form-field>
            <mat-select id="stations" name="stations" ngModel placeholder="stations">
              <mat-option *ngFor="let station of stations$" [value]="station.id">
                {{station.stationName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <mat-form-field class="full-width">
            <input matInput #plateNumber id="plateNumber" name="plateNumber" placeholder="plate number" pattern="^BUS-[A-Z0-9]{3}-[A-Z0-9]{3}$" [(ngModel)] = "paramvalues.plateNumber" required>
            <mat-hint align="end">Like this pattern capital BUS-XXX-XXX</mat-hint>
            <span *ngIf="!unique" style="color:red">This Plate Number Aulready exist</span>
         
          
          </mat-form-field>
       
        <br />
        <button mat-raised-button type="submit" [disabled]="c.invalid">Submit</button>
  
      </form>
    </mat-card>
  </div>