i{
	    margin-left: 3rem;
}
	    h3{
	    	color: #3b5bb3;
	    }
	    h4{
	    	    color: #94bf23;
    font-weight: bold;
    font-size: 1.1rem;
}
.mat-divider{
	    width: 30%;
}
.mat-list{
	margin: 0 9rem;
}