 <footer class="footer">
                <div class="container">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="https://www.flixbus.com/company/about-us">
                                  About FlixBus
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flixbus.com/company/press-room">
                                        Press Room
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flixbus.com/service/bus-app">
                                        Bus App
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flixbus.com/company/contact-us">
                                Flixbus Contact
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                           
                            <a href="https://www.flixbus.com/">Flixbus</a>, more Flexable life
                        </p>
                    </nav>
                </div>
            </footer>